

img {
    border-radius: 20px 20px 20px 20px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    
}
body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-color: #2ecc71;
}
h1 {
    text-align: center;
    margin-top: 0px;
    height: 70px;
    background-color:#c0392b;
    margin-bottom:70px ;
    padding: 30px 20px;
}
h2 {
    text-align: center;
}
h5 {
    text-align: center;
    background-color: #7f8c8d;
    margin-top: 100px;
}